html{
    background: #cad9e2;
    font-family: 'Nunito', sans-serif;
}

.hero{
    padding: 70px 10px;
    text-align: center;
    background-color: rgb(4, 15, 22);
    color: #eee;
    margin-bottom: 30px;
}

.hero h1{
    font-size: 50px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .hero h1{
        font-size: 30px;
    }

    .hero div{
        margin-top: 10px;
        font-size: 15px;
    }

    .hero{
        padding: 50px 20px;
    }
}

.hero div{
    font-weight: 100;
    font-size: 20px;
}

.hero a{
    text-decoration: none;
    color: #0077ff;
}

.grid-cell.with-card{
    margin-right: 10px;
    margin-bottom: 10px;
}

.card{
    border-radius: 2px;
    max-width: 100%;
    color: #333;
    width: 320px;
    margin: auto;
}

.card > .card-head{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px;
    padding: 10px 15px;
    font-size: 20px;
}

.card > .card-body{
    font-weight: 100;
    padding: 10px 15px;
}

.float-l{
    float: left;
}